<div data-ng-init="setup()">
	<div class="row">
		<div class="col-md-6">
		  <h2>Fitness Phoenix</h2>
		</div>
		<div class="col-md-6">
		  <h4>Rising out from the fire to the new you</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		  <h3>Contact me</h3>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<p>Joey Hedges, NASM CPT - can be reached...</p>
			<a href="tel:7705988666" class="btn btn-info btn-lg">
				  <span class="glyphicon glyphicon-phone"></span>Call me </a>
				  
			<a href="sms:7705988666" class="btn btn-info btn-lg">
				  <span class="glyphicon glyphicon-phone"></span>Text me </a>	
		
			<p> via Call or Text 770-598-8666</p> 
			<a href="mailto:joeyhedgesfitnessphoenix@gmail.com" class="btn btn-info btn-lg">
			  <span class="glyphicon glyphicon-envelope"></span>Email me </a>
			<p> via email @ joeyhedgesfitnessphoenix@gmail.com</p> 
		</div>
	</div>	
</div>









