<div data-ng-init="setup()">
	<div class="row">
		<div class="col-md-12" style="font-family:magic;text-align:center;">
		  <h1>Fitness Phoenix in Dacula, Gwinnett</h1>
		  <h2>Rising out from the fire to the new you!</h2>
		</div>
	</div>
	

	<div class="jumbotron">
		<h3> Spring Foam Rolling promotion! </h3>
		<h3> New clients will be given a new FOAM ROLLER</h3>
	</div>
	<div class="jumbotron">	
	
		<p id="paddleboarding">
			New for Spring through Summer 2018 season... and maybe early fall (weather permitting), Fitness Phoenix is offering <a href="#!/paddle.html">Paddle Boarding</a> lessons and local excursions.  
		</p>
		<p id="nutrition">
			Also new to Fitness Phoenix, I have been certified through NASM - National Academy of Sports Medicine as a Fitness Nutrition Specialist offering the ability to provide guidance to your <a href="#!/nutrition.html">nutrition</a> goals as well as fitness.  
		</p>
		<p id="training">
			Currently focusing on individual personal training sessions as well as small groups.
			</br></br>
			Located in Dacula, GA.  Workout in my personal gym or I can travel to you. View my <a href="#!/services.html">services</a> to find out more. 
		</p>
		<p>
			<ul class="nobullet">
				<li>Morning sessions available Monday, Thursday, Friday starting around 7:00AM.
				<li>Afternoon sessions available Monday, Wednesday, Thursday starting around 6:30PM.
				<li>Weekend sessions available upon request and / or based on demand.
			</ul>
			<p>Availability is subject to change over time.  If none of these time slots meet your needs, I am sure we can find a suitable time.
			</p>	
		</p>

	</div>
		
	<div class="row">
		<div class="col-md-12">
			<div id="slidy-container">
				<figure id="slidy">
					<img src="images/JH-NASMCert.jpg" alt="Certificate" title="Personal Training Certification - Servicing Dacula, Gwinnett, and Atlanta area">
					<img src="images/4.jpg" alt="Joey Stab Ball Pushup" title="Training in action" >
					<img src="images/cravings.jpg" alt="Cravings" title="Nutrition and cravings">
					<img src="images/StoppedWorkingOut-small.jpg" alt="What happens when stop working out" title="Side effects to reducing work outs" >
				</figure>
			</div>
		</div>
	</div>	
	


	
</div>
<div><span>05/01/2018</span></div>

<script>
/* user defined variables */
var timeOnSlide = 5, 		
    // the time each image will remain static on the screen, measured in seconds
timeBetweenSlides = 1, 	
    // the time taken to transition between images, measured in seconds

// test if the browser supports animation, and if it needs a vendor prefix to do so
    animationstring = 'animation',
    animation = false,
    keyframeprefix = '',
    domPrefixes = 'Webkit Moz O Khtml'.split(' '), 
    // array of possible vendor prefixes
    pfx  = '',
    slidy = document.getElementById("slidy"); 
if (slidy.style.animationName !== undefined) { animation = true; } 
// browser supports keyframe animation w/o prefixes

if( animation === false ) {
  for( var i = 0; i < domPrefixes.length; i++ ) {
    if( slidy.style[ domPrefixes[i] + 'AnimationName' ] !== undefined ) {
      pfx = domPrefixes[ i ];
      animationstring = pfx + 'Animation';
      keyframeprefix = '-' + pfx.toLowerCase() + '-';
      animation = true;
      break;
    }
  }
}

if( animation === false ) {
  // animate in JavaScript fallback
} else {
  var images = slidy.getElementsByTagName("img"),
      firstImg = images[0], 
      // get the first image inside the "slidy" element.
      imgWrap = firstImg.cloneNode(false);  // copy it.
  slidy.appendChild(imgWrap); // add the clone to the end of the images
  var imgCount = images.length, // count the number of images in the slide, including the new cloned element
      totalTime = (timeOnSlide + timeBetweenSlides) * (imgCount - 1), // calculate the total length of the animation by multiplying the number of _actual_ images by the amount of time for both static display of each image and motion between them
      slideRatio = (timeOnSlide / totalTime)*100, // determine the percentage of time an induvidual image is held static during the animation
      moveRatio = (timeBetweenSlides / totalTime)*100, // determine the percentage of time for an individual movement
      basePercentage = 100/imgCount, // work out how wide each image should be in the slidy, as a percentage.
      position = 0, // set the initial position of the slidy element
      css = document.createElement("style"); // start marking a new style sheet
  css.type = "text/css";
  css.innerHTML += "#slidy { text-align: left; margin: 0; font-size: 0; position: relative; width: " + (imgCount * 100) + "%;  }\n"; // set the width for the slidy container
  css.innerHTML += "#slidy img { float: left; width: " + basePercentage + "%; }\n";
  css.innerHTML += "@"+keyframeprefix+"keyframes slidy {\n"; 
  for (i=0;i<(imgCount-1); i++) { // 
    position+= slideRatio; // make the keyframe the position of the image
    css.innerHTML += position+"% { left: -"+(i * 100)+"%; }\n";
    position += moveRatio; // make the postion for the _next_ slide
    css.innerHTML += position+"% { left: -"+((i+1) * 100)+"%; }\n";
}
  css.innerHTML += "}\n";
  css.innerHTML += "#slidy { left: 0%; "+keyframeprefix+"transform: translate3d(0,0,0); "+keyframeprefix+"animation: "+totalTime+"s slidy infinite; }\n"; // call on the completed keyframe animation sequence
document.body.appendChild(css); // add the new stylesheet to the end of the document
}

</script>