<div data-ng-init="setup()">
	<div class="row">
		<div class="col-md-6">
		  <h2>Fitness Phoenix</h2>
		</div>
		<div class="col-md-6">
		  <h4>Rising out from the fire to the new you</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		  <h3>Paddle Boarding Lessons and Excursions</h3>
		</div>
	</div>	
	<div class="row">
		<div  style="overflow-x:auto;" class="col-md-12">
			Paddling has been documented for centuries across the globe.  Modern paddle boarding, commonly referred to as Stand Up Paddling (SUP)  originated Hawaii as a way to parade the local kings around the island.</br>
			Since, paddle boarding has become a popular way to exercise and leisurely 'hover' atop the water.  
		</div>
	</div>	
	<div class="row">
			<div  style="overflow-x:auto;" class="col-md-6">
				
			</div>
			<div  style="overflow-x:auto;" class="col-md-6">
				
			</div>			
	</div>	
	<div class="row">
			<div  style="overflow-x:auto;" class="col-md-6">
				
			</div>
			<div  style="overflow-x:auto;" class="col-md-6">
				
			</div>			
	</div>		
</div>
