<div data-ng-init="setup()">
	<div class="row">
		<div class="col-md-6">
		  <h2>Fitness Phoenix</h2>
		</div>
		<div class="col-md-6">
		  <h4>Rising out from the fire to the new you</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		  <h3>Videos</h3>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
		
			
			
			
			
			<video controls poster="/images/6n6-CurlLegBum.gif">
			  <source src="/videos/6in6CurlsLegsBum.mp4" type="video/mp4" alt="6 in 6: Curls for the Girls and Legs and Bums for the Chums">
				These videos are only available in MP4 format.
			</video>
			
			
		</div>
		</div>
			<div class="row">
		<div class="col-md-12">
		
			
			
			
			
			<video controls poster="/images/6n6-CurlLegBum.gif">
			  <source src="/videos/6in6CurlsLegsBum.mp4" type="video/mp4" alt="6 in 6: Curls for the Girls and Legs and Bums for the Chums">
				These videos are only available in MP4 format.
			</video>
			
			
		</div>
	</div>	
</div>
